{% load i18n %}
{% if request.event.testmode %}
    {% if request.event.live or is_organiser %}
        {% if request.sales_channel.testmode_supported %}
            <div class="alert alert-warning alert-margin">
                <strong>
                    {% trans "This ticket shop is currently in test mode. Please do not perform any real purchases as your order might be deleted without notice." %}
                </strong>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <strong>
                    {% trans "Orders made through this sales channel cannot be deleted - even if the ticket shop is in test mode!" %}
                </strong>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
