{% load i18n %}
{% load append_next_url %}
<div class='form-group buttons{% if preferred_provider %} login-options-primary-first{% endif %}'>
  {% if preferred_provider %}
    {% for provider, settings in login_providers.items %}
      {% if provider == preferred_provider and settings.state %}
        <a href='{% url "plugins:socialauth:social.oauth.login" provider %}{% append_next request.GET.next %}'
           data-method='post' class='btn btn-primary btn-block login-option-primary'>
          {% with provider|capfirst as provider_capitalized %}
            {% blocktranslate %}Login with {{ provider_capitalized }}{% endblocktranslate %}
          {% endwith %}
        </a>
        <p class='login-separator'>
          <span class='login-separator-label'>{% translate 'or' %}</span>
        </p>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div class='login-options-secondary-group'>
    <button type='button' id='toggle-login' class='btn btn-primary btn-block login-option-secondary' data-toggle='collapse' data-target='#login-form'>
      {% translate 'Login with Email' %}
    </button>
    {% if login_providers %}
      {% for provider, settings in login_providers.items %}
        {% if settings.state and provider != preferred_provider %}
          <a href='{% url "plugins:socialauth:social.oauth.login" provider %}{% append_next request.GET.next %}'
             data-method='post' class='btn btn-primary btn-block login-option-secondary'>
            {% with provider|capfirst as provider_capitalized %}
              {% blocktranslate %}Login with {{ provider_capitalized }}{% endblocktranslate %}
            {% endwith %}
          </a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
