{% extends "agenda/base.html" %}
{% load compress %}
{% load html_signal %}
{% load i18n %}
{% load static %}

{% block agenda_custom_header %}
<script id="pretalx-messages" data-logged-in="{% if request.user.is_anonymous %}false{% else %}true{% endif %}" src="{{ request.event.urls.schedule }}widget/messages.js"></script>
{% endblock agenda_custom_header %}

{% block agenda_content %}
{% html_signal "eventyay.agenda.signals.html_above_speakers_list" sender=request.event request=request %}
<div>
    <script id="pretalx-schedule-data" type="application/json">{{ schedule_json|safe }}</script>
    <script type="text/javascript" src="{{ request.event.urls.schedule_widget_script }}" async></script>
    {% with event_tz=request.event.settings.timezone|default:request.event.timezone %}
    <pretalx-schedule event-url="{{ request.event.urls.base }}" locale="{{ request.LANGUAGE_CODE }}" view="speakers" style="--pretalx-clr-primary: {{ request.event.visible_primary_color }}"></pretalx-schedule>
    {% endwith %}
</div>
{% html_signal "eventyay.agenda.signals.html_below_speakers_list" sender=request.event request=request %}
{% endblock agenda_content %}
